<!DOCTYPE html>
<html>

<head>
    <title>Bon deal ou pas ?</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="navbar2">
    
        <div class="container">
            <h1>Bienvenue !</h1> </br>
            <h2>Vous voulez voir si vous avez trouvé la bonne affaire.</h2> </br>
            <h3>Entrez le lien et le résultat s'affichera en dessous :</h3>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <form method="get" action="/process">
                        <div class="row">
                            <div class="col-xs-8 col-sm-9">
                                <input type="text" class="form-control" name="lbcUrl" placeholder="https://www.leboncoin.fr">
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <button type="submit" class="btn btn-default">Comparer</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    
    </div>

    <div class="container mg-b-20">
        
        <% if ( typeof error !== 'undefined' ) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error!</strong>
                <p>
                    <%= error %>
                </p>
            </div>
        <% }

        if ( typeof data !== 'undefined' ) { %>

            <div class="row">

                <div class="col-xs-12 col-md-4 mg-b-10">
                    <div class="Rcontainer">
                        <div class="Rcontainer-titre">Informations</div>
                        
                        <div>
                            <div>City</div>
                            <div>
                                <span><%= data.lbcData.city.replace( /\_/g, '-' ) %></span>
                                <span> (<%= data.lbcData.postalCode %>)</span>
                            </div>
                        
                            <div>Price</div>
                            <div>
                                <span> <%= data.lbcData.price %> €</span>
                            </div>
                            
                            <div>Surface</div>
                            <div>
                                <span><%= data.lbcData.surface %> m<sup>2</sup></span>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4 mg-b-10">
                    <div class="Rcontainer">
                        <div class="Rcontainer-titre">Bon deal ou pas ?</div>
                        
                            <% if ( data.deal.good ) { %>
                                <div>
                                    <span>OUI</span>
                                </div>
                                <% }
                            else { %>
                                <div>
                                    <span>NON</span>
                                </div>
                             <% } %>
                    </div>
                </div>

            </div>
            <% } %>
    </div>

    <footer>
      <div id="footer">
        <p> OUSMAN ASADULLAH - ESILV - WEB APPLICATIONS - WORKSHOP 3 - 2017 </p>
      </div>
    </footer>

</body>

</html>